
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('vendor/materialize.css');
@import url('vendor/materialize.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/*colours*/
  :root {
 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;  
  }

  /*the arrow to get back to the previous page*/
  .back-arrow {
    position: absolute;
    top: 2.5%;
    left: 5%;
     
  }


  .header {
    position: sticky;
    top:-40px;
    z-index: 2;
    height: 128px;
    color: azure;
    background-color: rgb(4, 42, 85);
    
    text-align: center;
    align-items: center;
    justify-content: center;
    

  }


  .selectedCriterias{
    margin-left: 5%;
    margin-right: 5%;

  }
  .selectedCriterias p{
    
    font-weight: 900;

  }

.resultsContainer{
  margin-top: 30px;

}



.active .collapsible-body{
  
  padding:12px;
}

.collapsible-body p{

  margin:0;
}

  /*home background*/
  .home-background {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url('images/homebackground.jpg');
    background-size: cover;
    background-position: 50% 58%;
  }

  
  body{
    
    background-color: rgb(4, 42, 85);
  }

  .warpper{
    height: 1000px; 
    background-color:  #fdfdfd;
  }
  /*Components*/
  .home {
    background-color:  #fdfdfd;
    height: auto;
    opacity: 1;
    position: absolute;
    top:0;
    
    width: 100%;
  }
  .home form{
    height: auto;
    
  }

  .searchResults {
    height: auto;
    width: 100%;
    position: absolute;
    top:0;
    display: none;
    opacity: 1;
    
  }
  
 


  /*bottom navigation*/
  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e0e0e0;
    border-top: 0.1px solid #616161;
    
  }
  .bottom-nav i {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .bottom-nav div {
    margin-bottom: 5px;
    margin-top:0px;
    font-size: 12px;
  }
